body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: black;

    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo img {
    height: 50px; /* Adjust the height as needed */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#main .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 200px;

    /* height: 100vh; */
    background: #000; /* Black background */
}

#main{
    height: 75vh;
}

#main .banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 5%;
}

#main .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#main .content h1 {
    color: white;
    font-size: 3em; /* Huge font size */
    margin: 100px 200px;
    margin-top: 0;
}

footer {
    background-color: black;

    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .footer-content {
    max-width: 800px;
    margin: 0 auto;
}